Repository daystram/audit: changes, and which Codecov flags are due for each by the changed paths.
All: audit-be, audit-fe

ci: added codecov flags
  .github/workflows/push.yml
Due: none

ci: added codecov exclusion
  codecov.yml
Due: none

refactor: changed handler init sequence
  audit-be/handlers/init.go
  audit-be/main.go
Due: audit-be

feat: added application api routes
  audit-be/router/router.go
Due: audit-be

refactor: moved router definition
  audit-be/controllers/init.go
  audit-be/main.go
  audit-be/router/router.go
Due: audit-be

refactor: changed handler closure injection
  audit-be/controllers/application_test.go
  audit-be/controllers/init.go
  audit-be/handlers/init.go
  audit-be/main.go
Due: audit-be

feat: implemented application controllers
  audit-be/controllers/application.go
  audit-be/controllers/v1/application.go
Due: audit-be

chore: added mock handler
  audit-be/mocks/handlers/init.go
Due: audit-be

refactor: fixed handler reference
  audit-be/controllers/application.go
Due: audit-be

refactor: added application controller tests
  audit-be/controllers/application_test.go
Due: audit-be

refactor: fixed implementations
  audit-be/controllers/application.go
Due: audit-be

refactor: fixed error signature
  audit-be/handlers/application.go
  audit-be/handlers/application_test.go
Due: audit-be

docs: updated README
  README.md
Due: none

feat: implemented service model
  audit-be/mocks/models/service.go
  audit-be/models/service.go
Due: audit-be

feat: implemented service handlers
  audit-be/datatransfers/service.go
  audit-be/handlers/init.go
  audit-be/handlers/service.go
  audit-be/handlers/service_test.go
  audit-be/mocks/handlers/init.go
Due: audit-be

feat: updated router
  audit-be/controllers/init.go
Due: audit-be

feat: implemented service controller
  audit-be/constants/service.go
  audit-be/controllers/service.go
Due: audit-be

refactor: added service controller tests
  audit-be/controllers/service_test.go
Due: audit-be

refactor: fix json key name
  audit-be/datatransfers/service.go
Due: audit-be

refactor: fixed service deletion selection condition
  audit-be/models/service.go
Due: audit-be

refactor: fixed missing id, added service type checks
  audit-be/controllers/service.go
Due: audit-be

ci: added deployment workflows
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci: added Dockerfile
  audit-fe/Dockerfile
  audit-fe/nginx.conf
Due: audit-fe

ci: bumped Go version
  audit-be/Dockerfile
Due: audit-be

chore: initialized audit-tr directory
  audit-tr/go.mod
  audit-tr/main.go
Due: none

refactor: exclude mocks from repo
  audit-be/.gitignore
  audit-be/mocks/handlers/init.go
  audit-be/mocks/models/application.go
  audit-be/mocks/models/service.go
Due: audit-be

feat: added generating Makefile
  Makefile
Due: none

ci: added gitignore
  proto/.gitignore
Due: none

ci: added file generating step
  .github/workflows/push.yml
Due: none

ci: updated generator toolchain setup
  .github/workflows/nightly.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

ci: updated Dockerfile
  audit-be/Dockerfile
  audit-fe/Dockerfile
Due: audit-be, audit-fe

ci: fixed go protobuf plugin versions
  .github/workflows/nightly.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

feat: added tracking messagee protobuf
  proto/tracking.proto
Due: none

ci: fixed missing dependency
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci: generate files within image building
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  audit-be/Dockerfile
Due: audit-be

ci: added grpc protobuf target
  Makefile
Due: none

feat: added service, updatd enums
  proto/tracking.proto
Due: none

refactor: initialized proto package go deps
  proto/go.mod
  proto/go.sum
Due: none

feat: initialized sample tracker client
  audit-tr/.gitignore
  audit-tr/go.mod
  audit-tr/go.sum
  audit-tr/main.go
Due: none

chore: updated deps
  audit-be/go.mod
  audit-be/go.sum
Due: audit-be

Path conditions:
  audit-be: any of: audit-be
  audit-fe: any of: audit-fe
