Repository daystram/audit: changes, and which Codecov flags are due for each by the changed paths.
All: audit-be, audit-fe

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 90%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

ignore:
  - "audit-be/**/init.go"

flags:
  audit-be:
    paths:
      - audit-be
    carryforward: false
  audit-fe:
    paths:
      - audit-fe
    carryforward: false

feat: implemented tracker grpc server stub
  audit-be/handlers/init.go
  audit-be/handlers/tracker.go
  audit-be/main.go
Due: audit-be

ci: added audit-tr
  .github/workflows/nightly.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

ci: added grpc protoc plugin
  .github/workflows/push.yml
Due: none

ci: added Dockerfile
  audit-tr/Dockerfile
Due: none

chore: fixed deps
  audit-be/go.mod
  audit-be/go.sum
  audit-tr/go.sum
  proto/go.mod
  proto/go.sum
Due: audit-be

refactor: added proto mocks
  Makefile
  proto/.gitignore
Due: none

refactor: updated config
  audit-be/config/.example.env
  audit-be/config/config.go
Due: audit-be

feat: implemented tracker latency check
  audit-be/handlers/tracker.go
Due: audit-be

feat: added ping response rpc
  proto/tracking.proto
Due: none

refactor: added ping interval
  audit-be/constants/tracker.go
Due: audit-be

feat: added config
  audit-tr/config/.example.env
  audit-tr/config/config.go
  audit-tr/go.mod
  audit-tr/go.sum
Due: none

feat: added example message responder
  audit-tr/main.go
Due: none

feat: thread safe tracker registration
  audit-be/handlers/tracker.go
Due: audit-be

refactor: fixed typings
  audit-tr/config/.example.env
  audit-tr/config/config.go
Due: none

refactor: restructured project
  audit-be/handlers/init.go
  audit-tr/main.go
Due: none

refactor: splitted into handlers
  audit-tr/handler/init.go
  audit-tr/handler/tracker.go
Due: none

ci: added debug
  Makefile
Due: none

refactor: renamed protobuf
  proto/tracker.proto
Due: none

ci: updated Codecov config
  codecov.yml
Due: none

ci: added test for audit-tr
  .github/workflows/push.yml
Due: none

refactor: fixed incorrect signatures
  audit-be/handlers/service_test.go
Due: audit-be

refactor: added tracker test
  audit-be/handlers/tracker_test.go
Due: audit-be

refactor: updated test
  audit-be/handlers/tracker_test.go
Due: audit-be

refactor: interfaced tracker server and client entities
  audit-be/handlers/init.go
  audit-be/handlers/tracker.go
Due: audit-be

refactor: updated tracker server initialization
  audit-be/main.go
Due: audit-be

ci: generate proto and mocks before lint
  .github/workflows/push.yml
Due: none

ci: fix lint workdir
  .github/workflows/push.yml
Due: none

ci: fix lint workdir 2
  .github/workflows/push.yml
Due: none

ci: fix golangci-lint un-tar issue
  .github/workflows/push.yml
Due: none

ci: fix lint workdir 3
  .github/workflows/push.yml
Due: none

refactor: moved error handling
  audit-tr/handler/tracker.go
  audit-tr/main.go
Due: none

ci: updated path Codecov preferences
  codecov.yml
Due: none

docs: updated README
  README.md
Due: none

chore: fixed formatting
  audit-be/handlers/tracker.go
Due: audit-be

refactor: fixed db field names
  audit-be/models/application.go
  audit-be/models/service.go
Due: audit-be

feat: added styles
  audit-fe/index.html
  audit-fe/src/styles/App.sass
Due: audit-fe

feat: implemented Home page
  audit-fe/components.d.ts
  audit-fe/src/App.vue
  audit-fe/src/components/HelloWorld.vue
  audit-fe/src/components/Logo.vue
  audit-fe/src/views/About.vue
  audit-fe/src/views/Home.vue
  audit-fe/src/views/index.ts
Due: audit-fe

refactor: updated images and favicon
  audit-fe/public/favicon.ico
  audit-fe/public/images/android-chrome-192x192.png
  audit-fe/public/images/android-chrome-512x512.png
  audit-fe/public/images/apple-touch-icon.png
  audit-fe/public/images/favicon-16x16.png
  audit-fe/public/images/favicon-32x32.png
  audit-fe/public/img/icons/android-chrome-192x192.png
  audit-fe/public/img/icons/android-chrome-512x512.png
  audit-fe/public/img/icons/android-chrome-maskable-192x192.png
  audit-fe/public/img/icons/android-chrome-maskable-512x512.png
  audit-fe/public/img/icons/apple-touch-icon-120x120.png
  audit-fe/public/img/icons/apple-touch-icon-152x152.png
  audit-fe/public/img/icons/apple-touch-icon-180x180.png
  audit-fe/public/img/icons/apple-touch-icon-60x60.png
  audit-fe/public/img/icons/apple-touch-icon-76x76.png
  audit-fe/public/img/icons/apple-touch-icon.png
  audit-fe/public/img/icons/favicon-16x16.png
  audit-fe/public/img/icons/favicon-32x32.png
  audit-fe/public/img/icons/msapplication-icon-144x144.png
  audit-fe/public/img/icons/mstile-150x150.png
  audit-fe/public/img/icons/safari-pinned-tab.svg
  audit-fe/public/site.webmanifest
Due: audit-fe
