Repository daystram/audit: changes, and which Codecov flags are due for each by the changed paths.
All: audit-be, audit-fe, audit-tr

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

ignore:
  - "audit-be/**/init.go"
  - "audit-tr/**/init.go"
  - "proto/**/*"

flags:
  audit-be:
    paths:
      - audit-be
    carryforward: false
  audit-fe:
    paths:
      - audit-fe
    carryforward: false
  audit-tr:
    paths:
      - audit-tr
    carryforward: false

refactor: configured color themes
  audit-fe/src/plugins/vuetify.ts
Due: audit-fe

refactor: updated router
  audit-fe/src/router/index.ts
Due: audit-fe

docs: updated README
  README.md
Due: none

ci: initialized helm chart
  .daystram/helm-chart/.helmignore
  .daystram/helm-chart/Chart.yaml
  .daystram/helm-chart/templates/NOTES.txt
  .daystram/helm-chart/templates/_helpers.tpl
  .daystram/helm-chart/templates/deployment.yaml
  .daystram/helm-chart/templates/hpa.yaml
  .daystram/helm-chart/templates/ingress.yaml
  .daystram/helm-chart/templates/service.yaml
  .daystram/helm-chart/templates/serviceaccount.yaml
  .daystram/helm-chart/templates/tests/test-connection.yaml
  .daystram/helm-chart/values.yaml
Due: none

refactor: added api route prefix
  audit-be/controllers/application_test.go
  audit-be/controllers/init.go
  audit-be/controllers/service_test.go
Due: audit-be

ci: updated Dockerfile
  audit-tr/Dockerfile
Due: audit-tr

refactor: fixed landing page gradient
  audit-fe/src/main.ts
  audit-fe/src/styles/App.sass
Due: audit-fe

refactor: updated color palette
  audit-fe/src/plugins/vuetify.ts
Due: audit-fe

feat: added page load status mixin
  audit-fe/src/constants/index.ts
  audit-fe/src/constants/status.ts
  audit-fe/src/main.ts
Due: audit-fe

feat: added stub dashboard pages
  audit-fe/src/views/dashboard/Dashboard.vue
  audit-fe/src/views/dashboard/Incidents.vue
  audit-fe/src/views/dashboard/Monitor.vue
Due: audit-fe

refactor: updated links
  audit-fe/components.d.ts
  audit-fe/src/router/index.ts
  audit-fe/src/views/Home.vue
  audit-fe/src/views/index.ts
Due: audit-fe

refactor: fixed drawer on public view
  audit-fe/src/views/dashboard/Dashboard.vue
Due: audit-fe

refactored: removed status mixin due to Vite incompatiblity
  audit-fe/components.d.ts
  audit-fe/src/constants/status.ts
  audit-fe/src/main.ts
  audit-fe/src/views/dashboard/Dashboard.vue
  audit-fe/src/views/dashboard/Incidents.vue
  audit-fe/src/views/dashboard/Monitor.vue
Due: audit-fe

refactor: removed user stub
  audit-fe/src/views/dashboard/Dashboard.vue
Due: audit-fe

refactor: added env file
  audit-fe/.env.development
Due: audit-fe

feat: embedded app version
  audit-fe/.env.development
  audit-fe/src/styles/App.sass
  audit-fe/src/views/Home.vue
Due: audit-fe

refactor: readded user stub
  audit-fe/src/views/dashboard/Dashboard.vue
Due: audit-fe

ci: injected app version to audit-fe env file
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci: fixed version number
  .github/workflows/nightly.yml
Due: none

ci: fixed version number 2
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci: debug env file
  audit-fe/Dockerfile
Due: audit-fe

ci: debug env file 2
  .github/workflows/nightly.yml
Due: none

ci: debug env file 3
  .github/workflows/nightly.yml
Due: none

ci: debug env file 4
  .github/workflows/nightly.yml
  audit-fe/Dockerfile
Due: audit-fe

ci: fix debug env file
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci: reverted debug
  audit-fe/Dockerfile
Due: audit-fe

feat: added auth helpers
  .daystram/helm-chart/templates/NOTES.txt
  audit-fe/src/auth/index.ts
  audit-fe/src/router/index.ts
  audit-fe/src/views/dashboard/Dashboard.vue
Due: audit-fe

feat: added application apis
  audit-fe/src/apis/datatransfers.ts
  audit-fe/src/apis/index.ts
Due: audit-fe

feat: added service apis
  audit-fe/src/apis/index.ts
Due: audit-fe

feat: added manage applications page
  audit-fe/.env.development
  audit-fe/components.d.ts
  audit-fe/src/apis/index.ts
  audit-fe/src/router/index.ts
  audit-fe/src/styles/App.sass
  audit-fe/src/views/dashboard/Dashboard.vue
  audit-fe/src/views/dashboard/Manage.vue
  audit-fe/src/views/index.ts
Due: audit-fe

refactor: fixed null application api response
  audit-be/controllers/middleware/cors.go
  audit-be/go.mod
  audit-be/go.sum
  audit-be/handlers/application.go
Due: audit-be

refactor: reverted to vue-cli
  .github/workflows/nightly.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  audit-fe/.env.development
  audit-fe/components.d.ts
  audit-fe/package.json
  audit-fe/public/index.html
  audit-fe/src/apis/index.ts
  audit-fe/src/auth/index.ts
  audit-fe/src/registerServiceWorker.ts
  audit-fe/src/router/index.ts
  audit-fe/src/views/Home.vue
  audit-fe/src/vite-env.d.ts
  audit-fe/tsconfig.json
  audit-fe/vite.config.js
  audit-fe/vue.config.js
  audit-fe/yarn.lock
Due: audit-fe

refactor: fixed service panel border
  audit-fe/src/styles/App.sass
Due: audit-fe

feat: added manage application page
  audit-fe/src/apis/datatransfers.ts
  audit-fe/src/constants/index.ts
  audit-fe/src/constants/service.ts
  audit-fe/src/main.ts
  audit-fe/src/plugins/vuelidate.ts
  audit-fe/src/views/dashboard/Manage.vue
Due: audit-fe

feat: stubbed monitor page
  audit-fe/src/views/dashboard/Monitor.vue
Due: audit-fe

refactor: fixed null service api response
  audit-be/handlers/application.go
  audit-be/handlers/service.go
Due: audit-be

refactor: changed list order
  audit-be/models/application.go
  audit-be/models/service.go
Due: audit-be

refactor: fixed inconsistent design
  audit-fe/src/views/dashboard/Manage.vue
Due: audit-fe

refactor: fixed orm updating empty fields
  audit-be/datatransfers/service.go
  audit-be/models/service.go
Due: audit-be

feat: added service management
  audit-fe/src/apis/index.ts
  audit-fe/src/constants/index.ts
  audit-fe/src/constants/service.ts
  audit-fe/src/utils/validators.ts
  audit-fe/src/views/dashboard/Manage.vue
Due: audit-fe
