Repository daystram/audit: changes, and which Codecov flags are due for each by the changed paths.
All: audit-be, audit-fe, audit-tr

feat: added config editor
  audit-fe/src/apis/index.ts
  audit-fe/src/styles/App.sass
  audit-fe/src/utils/validators.ts
  audit-fe/src/views/dashboard/Manage.vue
Due: audit-fe

refactor: added empty apps placeholder
  audit-fe/src/views/dashboard/Manage.vue
Due: audit-fe

feat: fixed auth
  audit-fe/src/auth/index.ts
  audit-fe/src/router/index.ts
  audit-fe/src/views/dashboard/Dashboard.vue
Due: audit-fe

feat: added monitor entries handler
  audit-be/handlers/init.go
  audit-be/handlers/monitor.go
  audit-be/handlers/monitor_test.go
  audit-be/models/application.go
Due: audit-be

feat: added monitor api endpoint
  audit-be/controllers/init.go
  audit-be/controllers/monitor.go
  audit-be/controllers/monitor_test.go
  audit-be/datatransfers/application.go
Due: audit-be

feat: added enabled flag on services
  audit-be/controllers/application_test.go
  audit-be/controllers/monitor_test.go
  audit-be/controllers/service_test.go
  audit-be/datatransfers/service.go
  audit-be/handlers/monitor.go
  audit-be/handlers/service.go
  audit-be/models/service.go
Due: audit-be

refactor: fixed duplicate queries
  audit-be/models/application.go
Due: audit-be

feat: added service enabled flag
  audit-fe/src/apis/datatransfers.ts
  audit-fe/src/apis/index.ts
  audit-fe/src/views/dashboard/Manage.vue
Due: audit-fe

feat: implemented monitor page
  audit-fe/src/constants/service.ts
  audit-fe/src/views/dashboard/Monitor.vue
Due: audit-fe

feat: implemented auth middleware
  audit-be/config/.example.env
  audit-be/config/config.go
  audit-be/constants/auth.go
  audit-be/constants/router.go
  audit-be/controllers/init.go
  audit-be/controllers/middleware/auth.go
  audit-be/datatransfers/auth.go
  audit-be/utils/router.go
Due: audit-be

feat: implemented oauth client
  audit-fe/.env.example
  audit-fe/src/apis/index.ts
Due: audit-fe

refactor: bypass auth on testing
  audit-be/controllers/application_test.go
  audit-be/controllers/monitor_test.go
  audit-be/controllers/service_test.go
  audit-be/utils/router.go
Due: audit-be

refactor: moved error handling
  audit-be/handlers/init.go
  audit-be/handlers/tracker.go
  audit-be/handlers/tracker_test.go
  audit-be/main.go
Due: audit-be

feat: added track triggers on scheduler event
  audit-be/constants/scheduler.go
  audit-be/go.mod
  audit-be/go.sum
  audit-be/handlers/init.go
  audit-be/handlers/scheduler.go
  audit-be/handlers/tracker.go
  audit-be/main.go
  audit-be/models/service.go
  audit-be/utils/service.go
Due: audit-be

refactor: round robin tracker allocation
  audit-be/handlers/tracker.go
  audit-be/handlers/tracker_test.go
Due: audit-be

refactor: udpated meta tags
  audit-fe/public/index.html
Due: audit-fe

refactor: updated robots.txt
  audit-fe/public/robots.txt
Due: audit-fe

feat: implemented tracker functions
  audit-tr/go.mod
  audit-tr/go.sum
  audit-tr/handler/http.go
  audit-tr/handler/init.go
  audit-tr/handler/ping.go
  audit-tr/handler/tcp.go
  audit-tr/handler/tracker.go
Due: audit-tr

feat: updated protobuf
  proto/tracker.proto
Due: none

chore: removed redundant files
  audit-fe/src/assets/logo.png
  audit-fe/src/assets/logo.svg
Due: audit-fe

refactor: updated url validator, udpated styles
  audit-fe/src/constants/service.ts
  audit-fe/src/utils/validators.ts
  audit-fe/src/views/dashboard/Manage.vue
Due: audit-fe

refactor: replaced udp mode to ping
  audit-be/constants/service.go
  audit-be/controllers/service.go
  audit-be/utils/service.go
Due: audit-be

refactor: changed default keepalive interval
  audit-be/constants/tracker.go
Due: audit-be

feat: bootstrapped tracking response handler
  audit-be/handlers/tracker.go
Due: audit-be

refactor: updated test
  audit-be/handlers/tracker_test.go
Due: audit-be

refactor: fixed ping rtt time
  audit-be/handlers/tracker.go
Due: audit-be

refactor: updated configs
  audit-be/config/.example.env
  audit-be/config/config.go
Due: audit-be

feat: implemented reports influxdb ormer
  audit-be/models/reports.go
Due: audit-be

refactor: updated influxdb orm init
  audit-be/handlers/init.go
Due: none

feat: include records on monitor api
  audit-be/datatransfers/report.go
  audit-be/datatransfers/service.go
  audit-be/handlers/monitor.go
Due: audit-be

feat: created line chart component
  audit-fe/package.json
  audit-fe/src/components/LineChart.vue
  audit-fe/yarn.lock
Due: audit-fe

feat: implemented service response time chart
  audit-fe/src/apis/datatransfers.ts
  audit-fe/src/styles/App.sass
  audit-fe/src/views/dashboard/Monitor.vue
Due: audit-fe

refactor: fixed ping time unit
  audit-tr/handler/ping.go
Due: audit-tr

refactor: fill null on missing points
  audit-be/models/reports.go
Due: audit-be

feat: inserted report entry on grpc report call
  audit-be/handlers/tracker.go
Due: audit-be

refactor: changed bucket env key
  audit-be/config/.example.env
  audit-be/config/config.go
  audit-be/handlers/init.go
Due: audit-be

refactor: fixed tracker server listening host
  audit-be/handlers/tracker.go
Due: audit-be

ci: added grpc port
  .daystram/helm-chart/templates/deployment.yaml
  .daystram/helm-chart/templates/service.yaml
Due: none

refactor: updated tests
  audit-be/handlers/monitor_test.go
  audit-be/handlers/tracker_test.go
Due: audit-be

refactor: implemented scheduler test
  audit-be/handlers/scheduler_test.go
Due: audit-be

Path conditions:
  audit-be: any of: audit-be, but not: audit-be/**/init.go, audit-tr/**/init.go, proto/**/*
  audit-fe: any of: audit-fe, but not: audit-be/**/init.go, audit-tr/**/init.go, proto/**/*
  audit-tr: any of: audit-tr, but not: audit-be/**/init.go, audit-tr/**/init.go, proto/**/*
